{% extends 'base.html.twig' %}

{% block body %}

    <article class="article container">
        <h1>{{ article.title }}</h1>
        <div class="card mb-3">
            <img src="{{ asset( article.imagePath ) }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                {% for tag in article.tags %}
                    <span class="badge badge-secondary">{{ tag.name }}</span>
                {% endfor %}
                <div class="mine">
                    {{ article.content|cached_markdown }}
                </div>
                <span><i>{{ article.author }}</i></span>
            </div>
        </div>
    </article>


{% endblock %}