{% extends 'base.html.twig' %}

{% block body %}

    <article class="article container">
        <h1>{{ article.title }}</h1>
        <div class="card mb-3">
            <img src="{{ asset( article.imagePath ) }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <div class="mine">
                    {{ article.content|cached_markdown }}
                </div>
                <span><i>{{ article.author }}</i></span>
            </div>
        </div>
    </article>

    <div class="comment container">
        <h2>Комментарии {{ comments|length }}</h2>
        <ul>
            {% for comment in comments %}
                <li>{{ comment }}</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}