{% extends 'base.html.twig' %}
{% block body %}
    <article class="news container wrapper all_news">
        <h1>Новости</h1>
        <div class="row">
            <div class="col-sm-12">
                <h4>Поиск статьи</h4>
                <form>
                    <div class="input-group mb-3">
                        <input type="text"
                               name="q"
                               class="form-control"
                               placeholder="Поиск..."
                               value="{{ app.request.query.get('q') }}"

                        >
                        <div class="input-group-append">
                            <button type="submit"
                                    class="btn btn-outline-secondary">
                                <span class="fa fa-search">	&#128270;</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row ">
            {% for article in articles %}
                <div class="col-md-6">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="{{ asset( article.imagePath ) }}" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="{{ path('article_show', {slug: article.slug}) }}">{{ article.title }}</a></h5>
                                    <p class="card-text">{{ article.content|slice(0, 80, "...")|cached_markdown }}</p>
                                    <span><i>{{ article.author }}</i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% if   app.request.query.get('q') %}
                <a href="{{ path('app_news') }}">Вернуться назад?</a>
            {% endif %}

            {% else %}
                <div><span>Ни чего не найдено <b><a href="{{ path('app_news') }}">Вернуться назад?</a></b></span> </div>
            {% endfor %}
        </div>


    </article>
{% endblock %}